@media (min-width: 1200px) {
  .container {
    max-width: 940px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.header {
  position: absolute;
  height: 111px;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;

  &__subtitle {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    width: 145px;
    display: flex;
    padding-left: 13px;
    padding-top: 30px;
  }

  &__logo {
    height: 66px;
    display: flex;
    margin-top: 25px;
  }

  &__ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;

  }

  li {
    margin-left: 75px;
    cursor: pointer;
  }

  li:hover {
    color: #FF9900;
    font-size: 20px;
    transition: 0.5s;
  }

  &__button {
    //position: relative;
    color: #FF9900;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-left: 135px;
    border: 1px solid #FF9900;
    box-sizing: border-box;
    border-radius: 8px;
    line-height: 21px;
    padding: 12px 24px;
    background: linear-gradient(180deg, #18191D 0%, rgba(24, 25, 29, 0.33) 100%);
    outline: none;
    cursor: pointer;
  }

  &__button:hover {
    background: #FF9900;
    color: #FFFFFF;
    transition: 0.5s;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

@media (max-width: 376px) {
  .home__title {
    font-weight: 300;
    font-size: 31px;
    text-align: center;
    padding-top: 120px;
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
  .header {
    flex-direction: column;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .header__ul {
    display: none;
  }

  .header__logo {
    width: 107px;
    height: 37px;
  }
  .header__subtitle {
    padding: 15px 0 20px 0;
    font-size: 10px;
    font-weight: 300;
  }
  .header .header__burger {
    width: 20px;
    position: fixed;
    top: 50px;
    right: 22px;
    cursor: pointer;
    z-index: 111;
    transition: all 0.8s ease 0s;
  }

  .header .header__burger.header__burger_active .burger__span {
  background: none;
  }
  .header .header__burger.header__burger_active .burger__span:before {
    transform: rotate(45deg);
    top: 0;
    z-index: 20;
    background: #000;
  }
  .header .header__burger.header__burger_active .burger__span:after {
    transform: rotate(-45deg);
    bottom: 0;
    z-index: 20;
    background: #000;
  }
  .header__burger:before{
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    z-index: 1;
    display: none;
    transform: translate(-28%, -50%)
  }
  .header .header__burger.header__burger_active.header__burger:before{
   display: block;
  }
  .header .header__burger.header__burger_active.header__subtitle{
    display: none;
    background: none;
  }
  .header .burger__span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 16px;
    height: 2px;
    background: #FF9900;
    transition: 0.5s;
    z-index: 20;
  }
  .header .burger__span:before {
    content: '';
    position: absolute;
    width: 22px;
    height: 100%;
    background: #FF9900;
    top: -9px;
    transition: 0.5s;
    z-index: 20;
    right: -4px;
  }
  .header .burger__span:after {
    content: '';
    position: absolute;
    width: 22px;
    height: 100%;
    background: #FF9900;
    bottom: -9px;
    transition: 0.5s;
    z-index: 20;
    right: -4px;
  }
}

@media (max-width: 415px) {
  .home__title {
    font-weight: 300;
    font-size: 31px;
    text-align: center;
    padding-top: 120px;
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
  .header {
    flex-direction: column;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .header__ul {
    display: none;
  }

  .header__logo {
    width: 107px;
    height: 37px;
  }
  .header__subtitle {
    padding: 15px 0 20px 0;
    font-size: 10px;
    font-weight: 300;

  }
  .header .header__burger {
    width: 20px;
    //height: 17px;
    position: fixed;
    top: 50px;
    right: 22px;
    cursor: pointer;
    z-index: 111;
    transition: all 0.8s ease 0s;

  }

  .header .header__burger.header__burger_active .burger__span {
    background: none;

  }

  .header .header__burger.header__burger_active .burger__span:before {
    transform: rotate(45deg);
    top: 0;
    z-index: 20;
    background: #000;
  }

  .header .header__burger.header__burger_active .burger__span:after {
    transform: rotate(-45deg);
    bottom: 0;
    z-index: 20;
    background: #000;
  }
  .header__burger:before{
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    z-index: 1;
    display: none;
    transform: translate(-28%, -50%)

  }
  .header .header__burger.header__burger_active.header__burger:before{
    display: block;

  }
  .header .header__burger.header__burger_active.header__subtitle{
    display: none;
    background: none;
  }
  .header .burger__span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 16px;
    height: 2px;
    background: #FF9900;
    transition: 0.5s;
    z-index: 20;

  }

  .header .burger__span:before {
    content: '';
    position: absolute;
    width: 22px;
    height: 100%;
    background: #FF9900;
    top: -9px;
    transition: 0.5s;
    z-index: 20;
    right: -4px;

  }

  .header .burger__span:after {
    content: '';
    position: absolute;
    width: 22px;
    height: 100%;
    background: #FF9900;
    bottom: -9px;
    transition: 0.5s;
    z-index: 20;
    right: -4px;

  }

}
.container {
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

@import "home";
@import "business";
@import "advantages";
@import "fragment";
@import "footer";

